@import '../Utils/common';

.card {
    width: 100%;
    display: inline-block;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem $neutral-3;
    padding: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;

    &.card-default {
        background-color: $primary-0;
        color: black;
    }

    &.card-accent {
        background-color: $accent-1;
    }
}
