//Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './Components/Utils/common';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins';
  color: $primary-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
