//Colors
$primary-0: white;
$primary-1:hsl(0, 100%, 74%) ;
$primary-2:hsl(154, 59%, 51%);
$accent-1: hsl(248, 32%, 49%);
$neutral-1:hsl(249, 10%, 26%);
$neutral-2:hsl(246, 25%, 77%);
$neutral-3:rgba(0, 0, 0, 0.2);

//Breakpoints:
//$breakpoint-mobile: 375px;
$breakpoint-mobile: 600px;