//Colors
$primary-0: white;
$primary-1:hsl(0, 100%, 74%) ;
$primary-2:hsl(154, 59%, 51%);
$accent-1: hsl(248, 32%, 49%);
$neutral-1:hsl(249, 10%, 26%);
$neutral-2:hsl(246, 25%, 77%);
$neutral-3:rgba(0, 0, 0, 0.2);

//Sizes, assuming 1rem = 16px
$s-2: 0.125rem; //2px
$s-4: 0.25rem; //4px
$s-6: 0.375rem; //6px
$s-8: 0.5rem; //8px
$s-10: 0.625rem; //10px
$s-12: 0.75rem; //12px
$s-14: 0.875rem; //14px
$s-16: 1rem; //16px
$s-18: 1.125rem; //18px
$s-20: 1.25rem; //20px
$s-24: 1.5rem; // 24px
$s-28: 1.75rem; //28px
$s-32: 2rem; //32px
$s-44: 2.75rem; //44px
$s-48: 3rem; //48px

//Breakpoints:
$breakpoint-1: 1100px;
$breakpoint-2: 992px;
$breakpoint-3: 768px;
$breakpoint-4: 576px;

//$breakpoint-mobile: 375px;
$breakpoint-mobile: 375px;